@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Inter&family=Montserrat&family=Roboto&family=Georama&display=swap');

:root {
    /* colors */
    --red: #F05454;
    --blue: #0E49B5;
    --grey: #DDDDDD;
    --white: #FFFFFF;
    --bluegrey: #DAE2EA;
    --darkgrey: #676363;
    --graylighter: #757373;
    --screengerey: #1c1c1c;
    --darkblue: #3B3E66;
    --green: #1BC943;
    --black: #000000;
    --lightblue: #EAF6FF;
    --yellow: #ffb405;
    --orange: #f56900;

    /* gradient */
    --bar-loaded: linear-gradient(90deg, rgba(255, 228, 105, 1) 0%, rgba(236, 200, 99, 1) 34%, rgba(251, 139, 0, 1) 86%)
}

@font-face {
    font-family: "phoneFont";
    src: url("../media/fonts/SFProText-Regular.ttf");
}

@font-face {
    font-family: appleFontBold;
    src: url("../media/fonts/SFProText-Bold.ttf");
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    margin: 0;
    font-family: phoneFont;
    font-size: 18px;
    line-height: 1.4;
    color: var(--white);
    font-weight: normal;
    background-color: var(--black);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.lighted {
    color: var(--orange);
}

body::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;

}

img {
    width: 100%;
    vertical-align: top;
}

p {
    margin: 0 0 10px;
}

a {
    color: var(--blue);
    text-decoration: none;
    font-family: 'Roboto', serif;
}

a:hover {
    opacity: .7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: appleFontBold;
    font-style: normal;
    font-weight: 600;
}


h1 {


    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 8rem;
    line-height: 155px;
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(178.71% 178.71% at 50.04% 148.39%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-transform: uppercase;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--black);
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    font-family: 'appleFontBold';
}

.header .container {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--black);
    align-items: center;
    position: relative;
    top: 0;
    width: 90%;
    max-width: 1400px;
    z-index: 10;
    font-family: 'appleFontBold';
}

.header .title {
    padding: 0 0 0 10px;
}

.header .notify {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
}

header {
    position: inherit;
    height: 100%;
}

.candle-section-head {
    position: relative;
    height: 100vh;
    top: -45vh;
    z-index: 3;
}

.candle-section-head .logo {
    position: absolute;
    height: 567px;
    width: 567px;
    right: 0;
    top: 40%;
}


.candle-section-head .logo.in {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: headerLogoIN;
}

.candle-section-head .logo.out {
    /* 
    animation-delay: 10.5s; */
    /* animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: candleTextOUT; */
    /*  animation-duration: 1s; */
    animation-name: headerLogoOUT;
    opacity: 0;
}


.step.element-show {
    opacity: 1;
    transition: all 0s;
}


.wix {
    width: 100px;
    height: 60vh;
    position: absolute;
    z-index: 5;
    left: 50%;
    margin-left: -50px;
    bottom: 100px;
    opacity: 1;
}


.candle-text {
    position: absolute;
    width: 200px;
    bottom: 10vh;
    left: 10vh;
    opacity: 0;
}


.section-steps {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    height: auto;
    z-index: 2;
    background-color: var(--black);

    scroll-snap-align: start;
    scroll-margin: 0px;

}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 325px;
    text-align: center;
}

.step span {
    opacity: 0;
    font-size: 32px;
    font-weight: 600;
}

.step .step-content {
    opacity: 0;
    font-size: 24px;
}

.light-container {
    height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.light {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
}

.light.outer {
    height: 30vh;
    width: 30vh;
    background: radial-gradient(52.43% 52.43% at 49.83% 50.17%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.02) 100%)
}

.light.middle {
    height: 23vh;
    width: 23vh;
    background: radial-gradient(52.69% 52.69% at 49.77% 50%, rgba(255, 255, 255, 0.18) 0%, rgba(217, 217, 217, 0.03) 100%)
}

.light.inner {
    height: 16vh;
    width: 16vh;
    background: radial-gradient(57.33% 57.33% at 49.69% 50.31%, rgba(255, 255, 255, 0.3) 0%, rgba(217, 217, 217, 0.05) 100%)
}

.light.center {
    height: 9vh;
    width: 9vh;
    background-color: var(--white);
    opacity: 0;
}

.wix-img {
    display: flex;
    justify-content: center;
    position: relative;
    translate: 0 20%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70%;
    z-index: 0;
    overflow: hidden;
}

.third-section {
    min-height: 100vh;
    height: auto;
    position: relative;
}


.wix-img.static {
    translate: 0 10vh;
    transform: scale(0.8);
}

.candle-wrap {
    position: relative;
    height: 120vh;
}

.flame.static {
    margin-left: -70px;
    bottom: 80vh;
}

.candle-section.static {
    position: relative;
    height: 100vh;
    top: 0;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &.dayNight {
        transform: translateX(-5%);
    }
}

.candle-section.static .wix-img {
    translate: 5vw 0vh;
}

.candle-section.static .detail-description {
    max-width: 30%;
    margin: 0 0 0 15px;
    opacity: 0;
}

.candle-section.static .model {
    width: 100%;
}

.detail-description .title {
    font-weight: 600;
    font-size: 32px;
}

.detail-description.animated {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: detailAnimation;
}

.detail-description.shown {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: detailOpacity;
}

.Hotspot {
    background-color: var(--lightblue);
    -webkit-box-shadow: 0px 0px 120px 39px rgba(202, 197, 219, 1);
    -moz-box-shadow: 0px 0px 120px 39px rgba(202, 197, 219, 1);
    box-shadow: 0px 0px 120px 39px rgba(202, 197, 219, 1);
    border-radius: 100px;
    height: 2em;
}

.detail {
    position: absolute;
    height: auto;
    max-width: 325px;
}

.detail .content {
    border-top: 2px solid var(--white);
}

.content .text {
    position: absolute;
    max-width: 325px;
    margin-left: -35px;

}

.detail.two {
    right: 10px;
}

.detail.three {
    top: 50vh;
}

.detail.four {
    top: 50vh;
    right: 10px;
}

.detail.five {
    top: 120vh;
    right: 10vh;
}


.phone-section {
    font-family: 'phoneFont';
    display: flex;
    flex-direction: column;
}

.phone-section h3 {
    margin: 0 0 0 1%;
}

.phone-section .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 105px;
}

.phone-section .phone img {
    z-index: 1;
}

.phone-section .phone {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 0.99;
    overflow: hidden;
    background-color: var(--screengerey);
    border-radius: 12%;
    font-size: 1.4vw;
}

.phone-screen .glow-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: none;
}

.phone-screen .glow-outer.active {
    animation-name: glow;
    animation-duration: 2s;
    box-shadow: 10px -5vh 400px 15vw rgba(255, 192, 46, 0.75);

}

@keyframes glow {
    from {
        box-shadow: 10px -5vh 400px 0vw rgba(255, 192, 46, 0.75);
    }

    to {
        box-shadow: 10px -5vh 400px 15vw rgba(255, 192, 46, 0.75);

    }
}

.phone-screen .statusbar {
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    font-size: 1.2vw;
    padding: 5% 10% 0% 15%;
}

.statusbar i {
    margin: 2%;
}

.statusbar #clock {
    font-size: 1.4vw;
    position: absolute;
    left: 10%;
    margin: 0 2%;
}

.phone-screen .notifications {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2vw;
}

.phone-section .model-view {
    position: absolute;
    width: 100%;
    height: 100%;
}

.phone-screen .progress-bar {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 10%;
}

.progress-bar #time-left {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    justify-content: space-between;
    font-size: 1.1vw;
    ;
}

#time-left .block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.progress-bar .bar {
    position: absolute;
    top: 30%;
    left: 9%;
    height: 40%;
    width: 65%;
    background-color: var(--darkgrey);
    border-radius: 100px;
}

.progress-bar .bar.loaded {
    width: 65%;
    background-color: var(--graylighter);
}

.phone-screen.active .bar.loaded {
    animation-name: loadBar;
    animation-duration: 3s;
    width: 30%;
    background: rgb(255, 228, 105);
    background: var(--bar-loaded);
}

@keyframes loadBar {
    from {
        width: 65%;
    }

    to {
        width: 30%;
    }
}

.tools-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    font-size: 4vw;
    z-index: 6;
    margin: 0 0 10% 0;
    padding: 0 10%;
}

.tools-bar #power_button {
    z-index: 5;
    animation: pulse 2s infinite linear;
    border: 2px solid transparent;
    border-radius: 100%;
}

#power_button.active {
    color: var(--yellow);
    animation: none;
    -webkit-text-fill-color: var(--yellow)
}

@keyframes pulse {
    0% {
        /* 		transform: scale(1.2);
 */
        box-shadow: 0 0 0 0 rgba(211, 122, 12, 0.875);
    }

    70% {
        /* 		transform: scale(1);
 */
        box-shadow: 0 0 0 1.1em rgba(226, 112, 13, 0);
    }

    100% {
        /* 		transform: scale(1.2);
 */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.phone-section .content {
    width: 600px;
    text-align: right;
}

.phone-section h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin-left: 105px !important;
}

/* .phone-section  */

.about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.about .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.about .profile {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile span {
    font-weight: 900;
    font-size: 1.4em;
}


h4 {
    font-size: 40px;
    font-weight: 600;
}

.continue-section {
    text-align: left;
    width: 600px;
    margin: 0 105px;
    position: relative;
}

.continue-section .logo {
    position: absolute;
    max-width: 100%;
    right: -100%;
    top: -80%;
}

section.day-night {
    animation: 30s linear infinite dayNightBack;
}


.day-night {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-night .candle-section {
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.day-night .candle-section .wix-img {
    width: 600px;
}

.day-night.animated {
    position: relative;
    width: 80vw;
}

.moon-sun-span {
    top: 0;
    position: absolute;
    height: 100vw;
    width: 100vw;
    animation: 30s linear infinite dayNight;
}

.moon,
.sun {
    position: absolute;
    /*     top: 50vh;
 */
    width: 10vw;
    height: 10vw;
    background-color: var(--lightblue);
    border-radius: 50%;
}

.sun {
    bottom: 0;
    right: 0;
}

.moon .shadow {
    position: absolute;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    right: 0;
    animation: 30s linear infinite dayNightBack;
    background-clip: none !important;
    -webkit-background-clip: none !important;
}

.moon {
    top: 0;
    animation: 30s linear infinite dayNight reverse;
}

.day-night .text-content {
    text-align: center;
    width: 980px;
    margin-bottom: 50vh;
    z-index: 6;
}

footer {
    text-align: center;
    color: var(--white);
    font-size: 12px;
}

.feedback {
    z-index: 12;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.feedback.closed {
    display: none;
}

.feedback .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bluegrey);
    width: 60%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    text-align: center;
    border-radius: 10px;
    font-family: 'phoneFont';
    padding: 20px;
}

.modal i {
    position: absolute;
    top: 5%;
    right: 5%;
}

.modal h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'appleFontBold';
}

.modal span {
    color: var(--darkgrey);
    font-weight: bold;
    white-space: nowrap;
}

.modal .field {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px 0;
}

.field input {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

.field button {
    position: absolute;
    right: 0;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
}

/* ANIMATIONS */



.wix-img-anim {
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}



.header-span {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: h1IN;
    font-size: 128px;
    line-height: 155px;
    padding-top: 50px;
}

.header-span.out {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-name: h1OUT;
    font-size: 128px;
    line-height: 155px;
}

.header-span.static {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: h1RETURN;
    font-size: 128px;
    line-height: 155px;
}

.flame-anim {
    animation-delay: 1s;
    animation-name: appearanceFlame;
}

.inner-glow-anim {
    animation-name: appearanceInnerGlow;
    animation-delay: 3s;
}

.middle-glow-anim {
    animation-delay: 5s;
    animation-name: appearanceMiddleGlow;
}

.wix-img-anim {
    animation-name: appearanceWix;
    animation-duration: 4s;
}


.candle-section-head {
    animation-name: candleBACK;
    zoom: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.candle-section-head.animated {
    animation-name: candleUP;
    zoom: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.candle-text.in {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: candleTextIN;
}

.candle-text.out {
    /* 
    animation-delay: 10.5s; */
    /* animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: candleTextOUT; */
    opacity: 0;
}


@keyframes appearanceFlame {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appearanceInnerGlow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.6;
    }
}

@keyframes appearanceHeader {
    from {
        background-image: linear-gradient(0, var(--black) 50%, var(--black) 60%);
    }

    to {
        background-image: linear-gradient(0, var(--white) 50%, var(--darkgrey) 60%);
    }
}

@keyframes appearanceMiddleGlow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.5;
    }
}


@keyframes appearanceWix {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes h1IN {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes h1RETURN {
    0% {
        transform: translateY(-150%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }


}

@keyframes h1OUT {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(-150%);
        opacity: 0;
    }
}

@keyframes candleUP {
    0% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(15vh) scale(0.7);
    }
}

@keyframes candleBACK {
    0% {
        transform: translateY(15vh) scale(0.7);

    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes candleTextIN {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes candleTextOUT {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes headerLogoIN {
    0% {
        top: 40%;
        right: 0%;
    }

    100% {
        top: 10%;
        right: -10%;
    }
}

@keyframes headerLogoOUT {
    0% {
        top: 10%;
        right: -10%;
        opacity: 1;
    }

    100% {
        top: 40%;
        right: 0%;
        opacity: 0;
    }
}


@keyframes dayNight {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes dayNightBack {
    0% {
        background-color: var(--black);
        color: var(--white);
    }

    20% {
        background-color: var(--black);
        color: var(--white);
    }

    40% {
        background-color: var(--bluegrey);
        color: var(--black);
    }

    60% {
        background-color: var(--bluegrey);
        color: var(--black);
    }

    80% {
        background-color: var(--bluegrey);
        color: var(--black);
    }

    100% {
        background-color: var(--black);
        color: var(--white);
    }
}

@keyframes detailAnimation {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }
}

@keyframes detailOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* STEPS ANIMaTION */
.element-show .light.center {
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

.element-show .light.inner {
    animation-delay: 0.25s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

.element-show .light.middle {
    animation-delay: 0.5s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

.element-show .light.outer {
    animation-delay: 0.75s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

.element-show span {
    animation-delay: 1s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

.element-show .step-content {
    animation-delay: 1.25s;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-name: step;
}

@keyframes step {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.model {
    z-index: 5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}




@keyframes spin {
    0% {
        transform: rotateX(90deg) rotateZ(90deg);
    }

    25% {
        transform: rotateX(90deg) rotateZ(180deg)
    }

    50% {
        transform: rotateX(90deg) rotateZ(270deg)
    }

    75% {
        transform: rotateX(90deg) rotateZ(360deg)
    }

    100% {
        transform: rotateX(90deg) rotateZ(90deg)
    }
}



@media (max-width: 669px) {
    h1 {
        margin: 0;
        font-size: 30vw;
    }

    .wix-img {
        translate: none;
        width: 100%;
    }

    .candle-section-head {
        z-index: 1;
        width: 100%;
        top: 0vh;
    }

    .model {
        width: 100%;
        z-index: 2;
    }

    header {
        height: 120vh;
    }


    .modal span {
        white-space: normal;
    }

    header>div {
        z-index: 6;
    }


    .candle-section-head.animated {
        animation-name: candleUPMOBILE;
    }

    .candle-section-head {
        animation-name: candleBACKMOBILE;
    }

    .candle-section-head .candle-text {
        z-index: 3;
        bottom: none;
        top: 0vh;
    }


    @keyframes candleUPMOBILE {
        0% {
            transform: translateY(100vh) scale(0.7);
        }

        100% {
            transform: translateY(-50vh) scale(1);

        }
    }


    @keyframes candleBACKMOBILE {
        0% {
            transform: translateY(-50vh) scale(1);
        }

        100% {
            transform: translateY(100vh) scale(0.7);
        }
    }

    .candle-section.static {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .candle-section.static .wix-img {
        translate: none;
    }

    .candle-section.static .detail-description {
        max-width: 80%;
        text-align: center;
    }

    .candle-section.static .detail-description.animated {
        animation-name: detailAnimationMOBILE;
    }

    .candle-section.static .detail-description.shown {
        height: 60%;
        animation-name: detailOpacity
    }

    @keyframes detailAnimationMOBILE {
        from {
            height: 0%;
        }

        to {
            height: 60%;
        }
    }

    @keyframes detailOpacity {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .phone-section {
        padding: 15px;
    }

    .phone-section .section-header {
        text-align: center;
    }

    .phone-section .section-content {
        text-align: center;
        flex-direction: column-reverse;
        padding: 0;
        justify-content: center;
    }

    .phone-section .content {
        width: 90%;
        text-align: center;
    }

    .phone-section .phone {
        width: 100%;
    }

    .phone-screen .statusbar,
    .statusbar #clock,
    .phone-screen .notifications {
        font-size: 3vw;
    }

    .tools-bar {
        font-size: 6vw;
    }

    .phone-screen .progress-bar #time-left {
        font-size: 2.5vw;
    }

    .phone-screen .glow-outer.active {
        animation-name: glow;
        animation-duration: 2s;
        box-shadow: 10px -5vh 400px 20em rgba(255, 192, 46, 0.75);

    }

    @keyframes glow {
        from {
            box-shadow: 10px -5vh 400px 0em rgba(255, 192, 46, 0.75);
        }

        to {
            box-shadow: 10px -5vh 400px 20em rgba(255, 192, 46, 0.75);

        }
    }


    .continue-section {
        text-align: center;
        margin: 0;
        padding: 15px;
        width: 100%;
    }

    .about .content {
        flex-direction: column;
        align-items: center;
    }

    .about .profile {
        max-width: 65%;
    }

    .moon-sun-span {
        height: 100vw;
        width: 100vh;
        animation: 30s linear infinite dayNight;
    }


    .day-night .candle-section.static .model {
        width: 50vh;
    }

    .day-night .candle-section {
        height: 50vh;
    }

    .day-night .text-content {
        font-size: 1.1em;
        width: 90%;
        z-index: 7;
    }

    .day-night .candle-section .wix-img {
        width: 100%;
    }

    .sun {
        top: 0;
    }

    .moon,
    .sun {
        width: 50px;
        height: 50px;
    }

    .moon .shadow {
        width: 30px;
        height: 30px;
    }

    .feedback .modal {
        width: 80%;
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .candle-section-head.animated {
        animation-name: candleUPTABLET;
    }

    .candle-section-head {
        animation-name: candleBACKTABLET;
        top: 25vh;
    }

    .candle-section-head .candle-text {
        z-index: 3;
        bottom: 40vh;
        font-size: 1.2em;
    }

    .wix-img-anim {
        width: 80%;
    }

    .wix-img-anim .model {
        width: 60vh;
    }

    .section-steps {
        flex-wrap: nowrap;
    }

    .candle-section.static .detail-description {
        max-width: 90%;
        margin: 0 0 0 15px;
        opacity: 0;
    }

    .detail-description.animated {
        animation-name: detailAnimationTABLET;
    }

    .detail-description.shown {
        animation-name: detailOpacityTABLET;
        height: 30%;
    }

    @keyframes detailAnimationTABLET {
        from {
            height: 0%;
        }

        to {
            height: 30%;
        }
    }

    @keyframes detailOpacityTABLET {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes candleUPTABLET {
        0% {
            transform: translateY(-75vh) scale(0.7);
        }

        100% {
            transform: translateY(-75vh) scale(1);

        }
    }


    @keyframes candleBACKTABLET {
        0% {
            transform: translateY(-75vh) scale(1);
        }

        100% {
            transform: translateY(-75vh) scale(0.7);
        }
    }

    .candle-section.static {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .candle-section.static .wix-img {
        width: 80%;
        translate: none;
    }

    .candle-section.static .model {
        width: 80%;
    }

    .phone-section .section-header {
        padding: 0 0 0 20px;
    }

    /*  .phone-section .tools-bar {
        font-size: 15px;
    } */

    .phone-section .section-content {
        padding: 0 50px;
    }

    .phone-section .content {
        max-width: 50%;
        margin: 0 0 0 10px;
    }

    .day-night .candle-section.static .model {
        width: 50vh;
    }

    .day-night .candle-section {
        height: 50vh;
    }

    .day-night .text-content {
        font-size: 1.1em;
        width: 90%;
        z-index: 7;
    }

    .sun {
        top: 0;
    }
}

@media (min-width: 1025px) and (max-width:1289px) {
    .candle-section-head.animated {
        animation-name: candleUP3;
    }

    .candle-section-head {
        animation-name: candleBACK3;
    }

    @keyframes candleUP3 {
        0% {
            transform: translateY(0) scale(1);
        }

        100% {
            transform: translateY(-30vh) scale(0.7);
        }
    }

    @keyframes candleBACK3 {
        0% {
            transform: translateY(-30vh) scale(0.7);
        }

        100% {
            transform: translateY(0) scale(1);
        }
    }

    .section-steps {
        flex-wrap: nowrap;
    }

}

